<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/styles/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</head>
<body>
  <div class="layout">
    <div class="sidebar">
      {% include "components/sidebar.html" %}
    </div>
    <div class="content">
      <div class="scrollable-content">
        <div id="chat-history" class="chat-history"></div>
      </div>
      <div class="form-div">
        {% include "components/form.html" %}
      </div>
    </div>
  </div>

  <script type="module" src="/static/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script>window.CHAT_ENDPOINT = "{{chat_endpoint}}";</script>

</body>
</html>
